@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-primary: hsl(var(--primary));
  --color-primary-alt: hsl(var(--primary-alt));

  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  /* Animations */
  --animate-fade-in: fade-in 0.6s ease-out forwards;

  /* Keyframes */
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --background: 210 41% 96%;
  --foreground: 222 47% 11%;

  --card: 0 0% 97%;
  --card-foreground: 333 3% 10%;

  --popover: 0 0% 97%;
  --popover-foreground: 333 3% 10%;

  --primary: 332 81% 40%;
  --primary-alt: 36 81% 50%;
  --primary-foreground: 0 0% 95%;

  --secondary: 332 8% 85%;
  --secondary-foreground: 0 0% 10%;

  --muted: 332 5% 85%;
  --muted-foreground: 333 5% 50%;

  --accent: 332 8% 85%;
  --accent-foreground: 0 0% 10%;

  --destructive: 0 85% 50%;
  --destructive-foreground: 0 0% 95%;

  --border: 332 26% 79%;

  --ring: 332 50% 74%;

  --input: 332 23% 79%;

  --sidebar: 0 0% 97%;
  --sidebar-foreground: 333 3% 10%;
  --sidebar-primary: 332 81% 40%;
  --sidebar-primary-foreground: 0 0% 95%;
  --sidebar-accent: 332 8% 85%;
  --sidebar-accent-foreground: 0 0% 10%;
  --sidebar-border: 332 26% 79%;
  --sidebar-ring: 332 50% 74%;

  --chart-1: 332 81% 40%;
  --chart-2: 152 81% 35%;
  --chart-3: 2 81% 40%;
  --chart-4: 302 81% 40%;
  --chart-5: 92 81% 40%;
}

.dark {
  --background: 255 12% 7%;
  --foreground: 210 41% 96%;

  --card: 255 12% 13%;
  --card-foreground: 264 6% 95%;

  --popover: 255 12% 13%;
  --popover-foreground: 264 6% 95%;

  --primary: 264 85% 52%;
  --primary-alt: 316 85% 35%;
  --primary-foreground: 0 0% 95%;

  --secondary: 265 28% 14%;
  --secondary-foreground: 0 0% 95%;

  --muted: 265 19% 19%;
  --muted-foreground: 265 8% 60%;

  --accent: 265 28% 14%;
  --accent-foreground: 0 0% 95%;

  --destructive: 0 85% 53%;
  --destructive-foreground: 0 0% 95%;

  --border: 264 42% 19%;

  --ring: 264 67% 24%;

  --input: 255 12% 13%;

  --sidebar: 263 12% 8%;
  --sidebar-foreground: 264 6% 95%;
  --sidebar-primary: 264 85% 52%;
  --sidebar-primary-foreground: 0 0% 95%;
  --sidebar-accent: 265 28% 14%;
  --sidebar-accent-foreground: 0 0% 95%;
  --sidebar-border: 264 42% 19%;
  --sidebar-ring: 264 67% 24%;

  --chart-1: 264 85% 52%;
  --chart-2: 84 85% 57%;
  --chart-3: 294 85% 54%;
  --chart-4: 234 85% 54%;
  --chart-5: 24 85% 55%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
